$displays: (none, block, inline, inline-block, flex, inline-flex);
$directions: (row, row-reverse, column, column-reverse);
$justifies: (start, end, center, between, around);
$aligns: (start, end, center, baseline, stretch);
$wraps: (nowrap, wrap, wrap-reverse);
$grows: (0, 1);

@mixin makeDisplays($breakpoint: null) {
  @each $display, $type in $displays {
    .d#{$breakpoint}-#{$display} { display: $display !important }
  }

  @each $direction in $directions {
    .flex#{$breakpoint}-#{$direction} { flex-direction: $direction !important }
  }

  @each $justify in $justifies {
    .justify-content#{$breakpoint}-#{$justify} {
      justify-content: if($justify == between or $justify == around, space-#{$justify}, $justify) !important
    }
  }

  @each $align in $aligns {
    .align-items#{$breakpoint}-#{$align} { align-items: $align !important }
    .align-self#{$breakpoint}-#{$align} { align-self: $align !important }
    .align-content#{$breakpoint}-#{$align} { align-content: $align !important }
  }

  @each $wrap in $wraps {
    .flex#{$breakpoint}-#{$wrap} { flex-wrap: $wrap !important }
  }

  @each $grow in $grows {
    .flex#{$breakpoint}-grow-#{$grow} { flex-grow: $grow !important; }
    .flex#{$breakpoint}-shrink-#{$grow} { flex-shrink: $grow !important; }
  }

  $i: 0;
  @while $i <= $num-cols {
    .order#{$breakpoint}-#{$i} { order: #{$i} !important }
    $i: $i + 1;
  }
}

@include makeDisplays();

@each $breakpoint, $size in $breakpoints {
  @media screen and (min-width: #{$size}) {
    @include makeDisplays('-' + $breakpoint);
  }
}
