// Grid settings
$num-cols:      12
$gutter-width:  30px

// Breakpoints
$mb-screen: 480px !default // mobile
$xs-screen: 768px !default // extra small
$sm-screen: 960px !default // small
$md-screen: 1280px !default // medium
$lg-screen: 1366px !default // large

// Queries between breakpoints
$mb-xs: "screen and (min-width : #{$mb-screen + 1px}) and (max-width : #{$xs-screen})" !default
$xs-sm: "screen and (min-width : #{$xs-screen + 1px}) and (max-width : #{$sm-screen})" !default
$sm-md: "screen and (min-width : #{$sm-screen + 1px}) and (max-width : #{$md-screen})" !default
$md-lg: "screen and (min-width : #{$md-screen + 1px}) and (max-width : #{$lg-screen})" !default

// Queries based on min-width
$mb-up: "screen and (min-width : #{$mb-screen + 1px})" !default
$xs-up: "screen and (min-width : #{$xs-screen + 1px})" !default
$sm-up: "screen and (min-width : #{$sm-screen + 1px})" !default
$md-up: "screen and (min-width : #{$md-screen + 1px})" !default
$lg-up: "screen and (min-width : #{$lg-screen + 1px})" !default

// Queries based on max-width
$mb-dw: "screen and (max-width : #{$mb-screen})" !default
$xs-dw: "screen and (max-width : #{$xs-screen})" !default
$sm-dw: "screen and (max-width : #{$sm-screen})" !default
$md-dw: "screen and (max-width : #{$md-screen})" !default
$lg-dw: "screen and (max-width : #{$lg-screen})" !default

  
.row
  position: relative
  display: flex
  flex-wrap: wrap
  width: calc(100% + #{$gutter-width})
  margin-left: -$gutter-width/2
  margin-right: -$gutter-width/2


.col
  display: flex
  padding: 0 $gutter-width/2

  &--left
    justify-content: flex-start

  &--right
    justify-content: flex-end

  // MB settings
  $i: 1
  @while $i <= $num-cols 
    $perc: unquote((100 / ($num-cols / $i)) + "%")
    &--mb-#{$i}
      flex-basis: $perc
      max-width: $perc
      -ms-flex-preferred-size: $perc
    
    $i: $i + 1

  $i: 1
  @while $i <= $num-cols 
    $perc: unquote((100 / ($num-cols / $i)) + "%")
    &--offset-mb-#{$i} 
      margin-left: $perc
    $i: $i + 1

  // XS settings
  @media #{$xs-sm}
    $i: 1
    @while $i <= $num-cols 
      $perc: unquote((100 / ($num-cols / $i)) + "%")
      &--xs-#{$i}
        flex-basis: $perc
        max-width: $perc
        -ms-flex-preferred-size: $perc
      
      $i: $i + 1

    $i: 1
    @while $i <= $num-cols 
      $perc: unquote((100 / ($num-cols / $i)) + "%")
      &--offset-xs-#{$i} 
        margin-left: $perc
      $i: $i + 1

  // SM settings
  @media #{$sm-md}
    $i: 1
    @while $i <= $num-cols 
      $perc: unquote((100 / ($num-cols / $i)) + "%")
      &--sm-#{$i} 
        flex-basis: $perc
        max-width: $perc
        -ms-flex-preferred-size: $perc
      
      $i: $i + 1
    
    $i: 1
    @while $i <= $num-cols 
      $perc: unquote((100 / ($num-cols / $i)) + "%")
      &--offset-sm-#{$i} 
        margin-left: $perc
      $i: $i + 1

  // MD settigns
  @media #{$md-lg}
    $i: 1
    @while $i <= $num-cols 
      $perc: unquote((100 / ($num-cols / $i)) + "%")
      &--md-#{$i} 
        flex-basis: $perc
        max-width: $perc
        -ms-flex-preferred-size: $perc
      
      $i: $i + 1
    
    $i: 1
    @while $i <= $num-cols 
      $perc: unquote((100 / ($num-cols / $i)) + "%")
      &--offset-md-#{$i} 
        margin-left: $perc
      $i: $i + 1

  // LG settings
  @media #{$lg-up}
    $i: 1
    @while $i <= $num-cols 
      $perc: unquote((100 / ($num-cols / $i)) + "%")
      &--lg-#{$i} 
        flex-basis: $perc
        max-width: $perc
        -ms-flex-preferred-size: $perc
      
      $i: $i + 1
    
    $i: 1
    @while $i <= $num-cols 
      $perc: unquote((100 / ($num-cols / $i)) + "%")
      &--offset-lg-#{$i} 
        margin-left: $perc
      $i: $i + 1