// ============ //
// Cursor types //
// ============ // 
$cursors: pointer, help, wait, move, not-allowed, context-menu, alias;

@each $cursor in $cursors {
  .cursor-#{$cursor} { cursor: $cursor !important; }
}

// =============================== //
// Most usable before, after state //
// =============================== // 
.pseudoelem { 
  content: '';
  display: block;
  position: absolute;
}

.no-select { user-select: none }
.no-overflow { overflow: hidden }
.no-events  { pointer-events: none }

// Visibility
@mixin visibility($state) {
  visibility: $state;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}
