@mixin animation($name, $duration, $delay, $count, $timing, $mode) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-fill-mode: forwards;
  animation-delay: $delay;
  animation-iteration-count: $count;
  animation-direction: $mode;
}
