$radiuses: (
  'small': 4px,
  'base': 8px,
  'large': 20px,
  'circle': 100%,
  'zero': 0
);

@mixin makeRadius($breakpoint:null) {
  @each $name, $size in $radiuses {
    .radius#{$breakpoint}-#{$name} { border-radius: $size !important }

    .radius-tl#{$breakpoint}-#{$name} { border-top-left-radius: $size !important }
    .radius-tr#{$breakpoint}-#{$name} { border-top-right-radius: $size !important }
    .radius-bl#{$breakpoint}-#{$name} { border-bottom-left-radius: $size !important }
    .radius-br#{$breakpoint}-#{$name} { border-bottom-right-radius: $size !important }

    .radius-t#{$breakpoint}-#{$name} {
      border-top-left-radius: $size !important;
      border-top-right-radius: $size !important;
    }
    .radius-r#{$breakpoint}-#{$name} {
      border-top-right-radius: $size !important;
      border-bottom-right-radius: $size !important;
    }
    .radius-b#{$breakpoint}-#{$name} {
      border-bottom-left-radius: $size !important;
      border-bottom-right-radius: $size !important;
    }
    .radius-l#{$breakpoint}-#{$name} {
      border-top-left-radius: $size !important;
      border-bottom-left-radius: $size !important;
    }
  }
}

@include makeRadius();

@each $breakpoint, $size in $breakpoints {
  @media screen and (min-width: #{$size}px) {
    @include makeRadius('-' + $breakpoint);
  }
}
