::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background: map-get($colors, 'white')
}

::-webkit-scrollbar-thumb {
  background: lighten(map-get($theme-colors, 'dark'), 15%)
}

::-webkit-scrollbar-thumb:hover {
  background: map-get($theme-colors, 'dark')
}
