$aligns: left, center, right, justify;
$weights: normal, bold, lighter, bolder, medium, 100, 200, 300, 400, 500, 600, 700, 800, 900;
$transforms: lowercase, uppercase, capitalize;
$styles: normal, italic, oblique;
$decorations: underline, line-through, none;

@mixin makeText($breakpoint:null) {
  @each $align in $aligns {
    .text#{$breakpoint}-#{$align} { text-align: $align !important; }
  }
  
  @each $weight in $weights {
    .font-weight#{$breakpoint}-#{$weight} { font-weight: $weight !important; }
  }
  
  @each $transform in $transforms {
    .text#{$breakpoint}-#{$transform} { text-transform: $transform !important; }
  }
  
  @each $style in $styles {
    .font#{$breakpoint}-#{$style} { font-style: $style !important; }
  }

  @each $decoration in $decorations {
    .text#{$breakpoint}-#{$decoration} { text-decoration: $decoration !important; }
  }
}

@include makeText();

@each $breakpoint, $size in $breakpoints {
  @media screen and (min-width: #{$size}px) {
    @include makeText('-' + $breakpoint);
  }
}

.text-truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-dotted {
  &:after {
    content: '…'
  }
}

.lh-1 {
  line-height: 1;
}