$transition-speed: (
  fast: .15s,
  base: .3s,
  slow: .45s,
  lazy: .6s,
  long: 1s,
);

$transition-function: (
  standart: 'cubic-bezier(0.4, 0, 0.2, 1)',
  emphasized: 'cubic-bezier(0.0, 0, 0.2, 1)',
  decelerated: 'cubic-bezier(0.0, 0.0, 0.2, 1)',
  accelerated: 'cubic-bezier(0.4, 0.0, 1, 1)',
  sharp: 'cubic-bezier(0.4, 0, 0.6, 1)'
);