@each $heading, $size in $headings-fz {
  #{$heading},
  .#{$heading} {
    font-size: $size;

    @if ($headings-breake) {
      @media screen and (max-width: map-get($breakpoints, $headings-breakepoint)) {
        font-size: $size * $headings-decrease
      }
    }
  }
}

@each $display, $size in $displays-fz {
  .#{$display} {
    font-size: $size;
    font-family: map-get($font-families, displays), sans-serif;
    font-weight: $displays-fw;
    line-height: $displays-lh;

    @if ($displays-breake) {
      @media screen and (max-width: map-get($breakpoints, $displays-breakepoint)) {
        font-size: $size * $displays-decrease
      }
    }
  }
}

// ===================== // 
// BASIC PAGE TYPOGRAPHY //
// ===================== // 
$base-fz: 18px; // ❗ CRUCIAL VALUE! A lot of things depends on it. Be aware.
$base-lh: map-get($line-heights, 50);
$base-fw: map-get($font-weights, 400);
$base-mg: map-get($spacers, 1);
$small-fz: 0.875; // ratio of how lower will be font-size for <small> tag

body {
  overflow-x: hidden;
  overflow-y: visible;
  font-family: map-get($font-families, base), sans-serif;
  font-weight: map-get($font-weights, 400);
  font-size: $base-fz;
  line-height: $base-lh;
  background: $body-bg;
  color: $body-color;

  &.body--locked { overflow-y: hidden }
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-top: map-get($headings-margins, top);
  margin-bottom: map-get($headings-margins, bottom);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: map-get($font-families, headings), sans-serif;
  font-weight: $headings-fw;
  line-height: $headings-lh;
  color: map-get($theme-colors, 'dark');
}

p,
ul,
ol,
pre,
table,
blockquote {
  display: block;
  margin-top: 0;
  margin-bottom: $base-mg;
  padding: 0;
  font-size: $base-fz;
  line-height: $base-lh;
}

ul,
ol {
  &.list-unstyled {
    list-style-type: none !important;
  }
}

small,
.small {
  font-size: $base-fz * $small-fz;
  line-height: $base-lh * $small-fz;
}

mark {
  background-color: rgba(map-get($colors, 'black'), 0.75);
}

code, kbd, samp, pre {
  @include radius(base);
  @extend .small;
  
  background: rgba(map-get($colors, 'black'), 0.15);
  padding: .2em .5em;
}

pre {
  padding: 1rem !important;

  code {
    background: none;
    padding: 0;
  }
}

hr {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  margin-top: $base-mg;
  margin-bottom: $base-mg;
  border: none;
  border-bottom: 1px solid rgba(map-get($colors, 'black'), .15);
}

a {
  @extend .d-inline-block;
  @extend .position-relative;
  @include color('primary');
  @include transition(all, base, ease);
  
  &::before {
    @extend .pseudoelem;
    @include transition(opacity, base, standard);

    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed rgba(map-get($theme-colors, primary), .5);
  }

  &:hover {
    @include color('primary', 'lighten', 3);

    &::before {
      opacity: 0;
    }
  }
}

// ================== // 
// CUSTOM TEXT STYLES // 
// ================== //
@mixin textStyles($breakpoint:null) {
  @each $lh, $value in $line-heights {
    .line-height#{$breakpoint}-#{$lh} { line-height: $value !important; }
  }
  @each $align, $value in $text-aligns {
    .text#{$breakpoint}-#{$align} { text-align: $value !important; }
  }
  @each $weight, $value in $font-weights {
    .font-weight#{$breakpoint}-#{$weight} { font-weight: $value !important; }
  }
  @each $transform, $value in $text-transforms {
    .text#{$breakpoint}-#{$transform} { text-transform: $value !important; }
  }
  @each $style, $value in $font-styles {
    .font#{$breakpoint}-#{$style} { font-style: $value !important; }
  }
  @each $decoration, $value in $text-decorations {
    .text#{$breakpoint}-#{$decoration} { text-decoration: $value !important; }
  }
  @each $wrap, $value in $text-wraps {
    .text#{$breakpoint}-#{$wrap} { white-space: $value !important; }
  }
  @each $spacing, $value in $letter-spacings {
    .spacing#{$breakpoint}-#{$spacing} { letter-spacing: $value !important; }
  }
}

@include textStyles();

@each $breakpoint, $size in $breakpoints {
  @media screen and (min-width: #{$size}) {
    @include textStyles('-' + $breakpoint);
  }
}

.text-truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-dotted {
  &:after {
    content: '…'
  }
}

// ============= // 
// SELECT STYLES // 
// ============= // 
@mixin selection($background, $color) {
  ::-moz-selection {
    background-color: map-get($colors, $background);
    color: map-get($colors, $color);
  }
  
  ::selection {
    background-color: map-get($colors, $background);
    color: map-get($colors, $color);
  }
}

@include selection('black', 'white');
