// ========== // 
// TYPOGRAPHY // 
// ========== // 
$font-families: (
  base: "Onest",
  headings: "Onest",
  displays: "Onest"
);

$line-heights: (
  1: 1,
  25: 1.25,
  50: 1.5,
  75: 1.75,
  2: 2,
);

$text-aligns: (
  left: left, 
  center: center, 
  right: right, 
  justify: justify
);

$font-weights: (
  lighter: lighter, 
  bolder: bolder, 

  100: 100, // thin
  200: 200, // extra light
  300: 300, // light
  400: 400, // normal
  500: 500, // medium
  600: 600, // semi bold
  700: 700, // bold
  800: 800, // extra bold
  900: 900, // black
);

$text-transforms: (
  lowercase: lowercase, 
  uppercase: uppercase, 
  capitalize: capitalize
);

$font-styles: (
  normal: normal, 
  italic: italic, 
  oblique: oblique
);

$text-decorations: (
  underline: underline, 
  line-through: line-through, 
  none: none
);

$text-wraps: (
  normal: normal,
  nowrap: nowrap,
  pre: pre,
  pre-line: pre-line,
  pre-wrap: pre-wrap
);

$letter-spacings: (
  normal: normal,
  tight: -0.05em,
  wide: .1em,
  wider: .5em,
);

// ======== // 
// HEADINGS //
// ======== // 
$headings-fz: (
  h1: 4.5rem,
  h2: 2.5rem,
  h3: 1.75rem,
  h4: 1.25rem,
  h5: 1rem,
  h6: 0.875rem,
);
$headings-lh: map-get($line-heights, 25);
$headings-fw: map-get($font-weights, 500);
$headings-margins: (
  top: 1.5em,
  bottom: 0.5em,
);
$headings-breake: true; // should or not headings be lowered on specific breakpoint
$headings-breakepoint: 'sm'; // on which breakpoint headings will have lowered font-size
$headings-decrease: 0.75; // ratio of how lower will be font-size for headings after breakpoint

// ======= //
// SPACING // 
// ======= // 
$spacers: (
  0: 0,
  25: 0.25rem,
  50: 0.5rem,
  75: 0.75rem,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  auto: auto
);