.badge {
  @extend .small;
  @extend .no-select;

  display: inline-block;

  // Sizes
  &-small {
    @extend .px-50;
    @extend .radius-small;

    line-height: 1.5em;
  }

  &-medium {
    @extend .px-50;
    @extend .py-25;
    @extend .radius-base;
  }
}

@each $name, $code in $theme-colors {
  .badge-#{$name} {
    background: $code;

    @if $name == 'light' {
      color: map-get($colors, 'black');
    } @else {
      color: map-get($colors, 'white');
    }
  }

  .badge-#{$name}-muted {
    background: rgba($code, .3);

    @if $name == 'light' {
      color: map-get($colors, 'black');
    } @else {
      color: map-get($colors, 'white');
    }
  }

  .badge-#{$name}-outlined {
    position: relative;
    background: map-get($colors, 'white');
    border: 1px solid $code;
    color: $code;
    font-weight: 500;

    &::before {
      @extend .pseudoelem;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($code, .15);
    }
  }
}