.card {
  @include material-shadow($z-depth: 2, $color: map-get($theme-colors, 'dark'));

  position: relative;
  margin-bottom: $gutter-width;
  
  &-basic {
    @extend .radius-base;

    background: map-get($colors, 'white');
  }

  &__title {
    @extend .radius-tl-base;
    @extend .radius-tr-base;

    padding: 1.4em 2em;
    // border-bottom: 1px solid lighten(map-get($theme-colors, 'dark'), 40%);;
    color: map-get($theme-colors, 'primary');
    text-shadow: 1px 1px 1px rgba(map-get($theme-colors, 'dark'), .4);

    @media #{$xs-dw} {
      padding: 1em;
    }
  }

  &__body {
    padding: $gutter-width;

    @media #{$xs-up} {
      padding: 2rem;
    }
  }
}

@each $name, $code in $theme-colors {
  .card-#{$name} {
    .card {
      &__title {
        background: linear-gradient(to right, lighten($code, 2%) 0%, lighten($code, 15%) 100%);
      }
    }
  }
}

.card-overlay {
  @extend .radius-base;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  background: map-get($colors, 'white');
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 13px;
  height: 13px;
  margin: auto;
  border-radius: 50%;
  background: map-get($theme-colors, 'secondary');
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}