.scrolltop {
  @include size(48, 48);

  bottom: 1.5rem;
  left: 1.5rem;
  transition: .3s ease;
  visibility: hidden;
  opacity: 0;

  &--visible {
    visibility: visible;
    opacity: 1;
  }

  &:hover {
    @include material-shadow($z-depth: 1, $color: map-get($theme-colors, 'secondary'));

    background: map-get($theme-colors, 'light');

    .scrolltop {
      &__icon {
        opacity: 1;
        color: map-get($theme-colors, 'primary');
      }
    }
  }

  @media #{$xl-dw} {
    display: none !important; 
  }

  &__icon {
    opacity: .6;
    transition: .6s ease;
  }
}