.tabs {
  &__header {
    @extend .mb-2;
  }

  &__menu {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .flex-wrap;
    @extend .m-0;
    @extend .p-0;

    @media #{$sm-dw} {
      width: 100%;
    }
  }

  &__toggle {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .flex-nowrap;
    @extend .px-1;
    @extend .cursor-pointer;
    @extend .font-weight-500;
    @extend .no-select;

    padding: .4rem 1rem;
    background: map-get($colors, 'light');
    border: 1px solid lighten(map-get($theme-colors, 'secondary'), 40%);
    color: map-get($theme-colors, 'dark');
    white-space: nowrap;
    transition: .3s ease;

    &--active {
      @include material-shadow($z-depth: 3, $color: map-get($theme-colors, 'info'));

      background: map-get($theme-colors, 'info') !important;
      border-color: map-get($theme-colors, 'info');
      color: map-get($colors, 'white') !important;
    }

    &--alone {
      pointer-events: none !important;
      background: map-get($colors, 'light') !important;
      border: none !important;
      color: map-get($theme-colors, 'dark') !important;
      box-shadow: none !important;
    }

    &:hover {
      color: map-get($colors, 'black');

      &::before {
        opacity: 0.5;
      }
    }

    &:first-child {
      border-top-left-radius: map-get($radiuses, 'base');
      border-bottom-left-radius: map-get($radiuses, 'base');
    }

    &:last-child {
      border-top-right-radius: map-get($radiuses, 'base');
      border-bottom-right-radius: map-get($radiuses, 'base');
    }

    @media #{$sm-dw} {
      min-width: 100%;

      &:not(.tabs__toggle--alone) {
        &:first-child {
          border-top-left-radius: map-get($radiuses, 'base');
          border-top-right-radius: map-get($radiuses, 'base');
          border-bottom-left-radius: map-get($radiuses, 'zero') !important;
        }

        &:last-child {
          border-top-right-radius: map-get($radiuses, 'zero');
          border-bottom-right-radius: map-get($radiuses, 'base');
          border-bottom-left-radius: map-get($radiuses, 'base');
        }
      }
    }
  }

  &__content {
    &.tab-enter-active,
    &.tab-leave-active {
      transition: opacity .3s ease, transform .4s ease-in-out;
    }

    &.tab-enter,
    &.tab-leave-to {
      opacity: 0;
      transform: translateY(7px);
    }
  }
}

