.timeline {
  &__decoration {
    position: relative;
    width: 32px;
    min-width: 32px;
  }

  &__item {
    &:last-child {
      .timeline {
        &__line {
          height: 0px;
        }
      }
    }
  }

  &__line {
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 1px;
    height: calc(100% + 1rem);
  }

  &__circle {
    @include size(24, 24);

    position: relative;
    z-index: 2;
  }

  &__backdrop {
    @include size(32, 32);

    z-index: 1;
  }
}