$elements-height: 28px;

.wizard {
  list-style-type: none;

  &__item {
    padding: 0 .5rem;

    &--current {
      .wizard {
        &__step {
          @include material-shadow($z-depth: 3, $color: desaturate(map-get($theme-colors, 'primary'), 30%));

          background: map-get($theme-colors, 'primary');
          color: map-get($colors, 'white');
        }

        &__name {
          color: map-get($colors, 'black');
        }
      }
    }

    &--passed {
      .wizard {
        &__step {
          @include material-shadow($z-depth: 1, $color: desaturate(map-get($theme-colors, 'success'), 30%));

          background: map-get($theme-colors, 'success');
          color: map-get($colors, 'white');
        }
      }
    }

    @media #{$xs-dw} {
      min-width: 100% !important;
    }
  }

  &__step {
    @include material-shadow($z-depth: 1, $color: map-get($theme-colors, 'info'));

    min-width: $elements-height;
    min-height: $elements-height;
    background: map-get($colors, 'white');
    color: map-get($theme-colors, 'secondary');
  }

  &__name {
    color: map-get($theme-colors, 'secondary');
    white-space: nowrap;
  }
}