$zindex-start: -1;
$zindex-end: 100;

@mixin make-zindex($breakpoint:null) {
  $i: $zindex-start;
  @while $i <= $zindex-end {
    @if ($i >= 0) {
      .z#{$breakpoint}-plus-#{$i} { z-index: $i }
    } @else {
      .z#{$breakpoint}-minus#{$i} { z-index: $i }
    }
    $i: $i + 1;
  }
}

@include make-zindex();

@each $breakpoint, $size in $breakpoints {
  @media screen and (min-width: #{$size}) {
    @include make-zindex('-' + $breakpoint)
  }
};
