@function percent($perc, $from) {
  /// Function returns percent from given values
  /// 
  /// @author nightrunner91
  /// 
  /// @link https://github.com/nightrunner91/nightvue
  /// 
  /// @param $perc: { Number }, [percent value, required]
  /// @param $from: { Number }, [number from which to calculate, required]
  /// 
  /// @example
  ///   width: percent(10, 100);
  ///   width: percent(18, 24);
  ///   width: percent(4, 12);
  ///   width: percent(0, 37);
  /// 
  /// @output
  ///   width: 10%;
  ///   width: 75%;
  ///   width: 33.33333%;
  ///   width: 0%;

  @return if($perc > 0, unquote((100 / ($from / $perc)) + "%"), 0%);
};

@function strip-unit($number) {
  /// Remove the unit of a length
  /// 
  /// @author Kitty Giraudel
  /// 
  /// @link https://css-tricks.com/snippets/sass/strip-unit-function/
  /// 
  /// @param $number: { Number }, [number to remove unit from]
  /// 
  /// @example
  ///   $length: 42px;
  ///   $value: strip-unit($length);
  /// 
  /// @output
  ///   $value: 42;

  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function spacer($val1, $val2: false, $val3: false, $val4: false) {
  /// Function returns specified spacer value from $spacers map
  ///
  /// @author nightrunner91
  /// 
  /// @link https://github.com/nightrunner91/nightvue
  ///
  /// @param $val1: { Number | String }, [spacer value, required]
  /// @param $val2: { Number | String }, [spacer value]
  /// @param $val3: { Number | String }, [spacer value]
  /// @param $val4: { Number | String }, [spacer value]
  ///
  /// If you pass one param it will return spacer value from $spacers map
  /// If you pass two params it will return X and Y spacer values
  /// If you pass four params it will return top, right, bottom and left spacer values
  /// Possible variants of params by default are: 0, 25, 50, 75, 1, 2, 3, 4, 5 and auto
  /// 
  /// @example
  ///   padding: spacer(2);
  ///   padding-right: spacer(1);
  ///   margin: spacer(3, auto);
  ///   margin: spacer(50, auto, 2, 0);
  ///
  /// @output
  ///   padding: 2rem;
  ///   padding-right: 1rem;
  ///   margin: 3rem auto;
  ///   margin: .5rem auto 2rem 0;

  @if ($val2 and $val4 == false) {
    @return map-get($spacers, $val1) map-get($spacers, $val2);
  }
  @else if ($val2 and $val4) {
    @return map-get($spacers, $val1) map-get($spacers, $val2) map-get($spacers, $val3) map-get($spacers, $val4);
  }
  @else {
    @return map-get($spacers, $val1)
  }
};

@function color($name, $style: false, $level:false, $opacity:false) {
  /// Function returns color from $grays and $theme-colors maps
  /// You can pass optional arguments `$style` and `$rate` to determine level of brightness or saturation
  /// Also you can pass opacity level of color (which generates rgba())
  ///
  /// @author nightrunner91
  /// 
  /// @link https://github.com/nightrunner91/nightvue
  /// @link https://sass-lang.com/documentation/modules/color#mix
  /// @link https://sass-lang.com/documentation/modules/color#scale
  ///
  /// @param $name:    { String }, [color name, required]
  /// @param $style:   { String }, [color style: light | dark | sat | desat]
  /// @param $level:   { Number }, [color level: 1...5 (based on $levels map)]
  /// @param $opacity: { Number }, [opacity level: 0...10 (based on $opacities map)]
  /// 
  /// @example
  ///   box-shadow: 1px 1px 4px color('primary');
  ///   border-color: color('secondary', light, 2);
  ///   border-color: color('success', dark, 4);
  ///   color: color('danger', sat, 2);
  ///   background-color: color('warning', desat, 4);
  ///   color: color('white');
  ///   color: color('white', $opacity: 5);
  ///   fill: color('gray-4');
  ///
  /// @output
  ///   box-shadow: 1px 1px 4px #682CAB;
  ///   border-color: #42a6f5;
  ///   border-color: #358444;
  ///   color: #f64234;
  ///   background-color: #eadd6d;
  ///   color: #ffffff;
  ///   color: rgba(255, 255, 255, 0.45);
  ///   fill: #aaaaaa;

  $targetMap: $theme-colors;

  @if map-has-key($grays, $name) {
    $targetMap: $grays;
  }

  $targetColor: map-get($targetMap, $name);
  $modifiedColor: $targetColor;

  @if $style {
    $level: map-get($levels, $level);

    @if $style == 'light' {
      $modifiedColor: mix(white, $targetColor, $level);
    } @else if $style == 'dark' {
      $modifiedColor: mix(black, $targetColor, $level);
    } @else if $style == 'sat' {
      $modifiedColor: scale-color($targetColor, $saturation: $level);
    } @else if $style == 'desat' {
      $modifiedColor: scale-color($targetColor, $saturation: -$level);
    }
  }

  @if $opacity {
    $opacityLevel: (map-get($opacities, $opacity) / 100);

    $modifiedColor: rgba($modifiedColor, $opacityLevel);
  }

  @return $modifiedColor
};

@function radius($type) {
  /// Function returns specified border-radius value from $radiuses map
  ///
  /// @author nightrunner91
  /// 
  /// @link https://github.com/nightrunner91/nightvue
  ///
  /// @param $type: { String }, [border-radius name, required]
  /// 
  /// @example
  ///   border-radius: radius('small');
  ///   border-radius: radius('circle');
  ///   border-top-left-radius: radius('zero');
  ///
  /// @output
  ///   border-radius: 4px;
  ///   border-radius: 100%;
  ///   border-top-left-radius: 0;

  @return map-get($radiuses, $type);
};

@function opacity($level) {
  /// Function returns specified opacity value from $opacities map
  ///
  /// @author nightrunner91
  /// 
  /// @link https://github.com/nightrunner91/nightvue
  ///
  /// @param $level: { String }, [opacity value, required]
  /// 
  /// @example
  ///   opacity: opacity(0);
  ///   opacity: opacity(25);
  ///   opacity: opacity(100);
  ///
  /// @output
  ///   opacity: 0;
  ///   opacity: .25;
  ///   opacity: 1;
  
  @return strip-unit(map-get($opacities, $level)) / 100
};

@function shadow($name) {
  /// Function returns box-shadow value from $shadows map
  ///
  /// @author nightrunner91
  /// 
  /// @link https://github.com/nightrunner91/nightvue
  /// @link https://developer.mozilla.org/ru/docs/Web/CSS/box-shadow
  ///
  /// @param $type: { String }, [box-shadow name, required]
  /// 
  /// @example
  ///   box-shadow: shadow('level-1');
  ///   box-shadow: shadow('level-2');
  ///   box-shadow: shadow('level-3');
  ///   box-shadow: shadow('level-4');
  ///   box-shadow: shadow('level-5');
  ///
  /// @output
  ///   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  ///   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  ///   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  ///   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  ///   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  @return map-get($shadows, $name)
};

@function transition($property, $speed:base, $timing:ease, $delay:0s) {
  /// Function returns transition based on $speed, $timings and $delay params
  /// It searches params in $transition-speed and $transition-timings maps
  /// But you could pass whatever you want
  /// We advice you to pass predefined $speed and $timing values tho
  /// If you need to apply many transitions at once,
  /// we recomed to use complex-transition() func below this one
  ///
  /// @author nightrunner91
  ///
  /// @link https://github.com/nightrunner91/nightvue
  /// @link https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Transitions/
  /// @link https://caniuse.com/?search=transition
  ///
  /// @param $property: { String },          [transition-property, required]
  /// @param $speed:    { String | Number }, [transition-speed, default 'base' => .3s]
  /// @param $timing:   { String },          [transition-timing-function, default 'ease']
  /// @param $delay:    { Number },          [transition-delay, default 0s]
  ///
  /// @example
  ///   transition: transition(transform);
  ///   transition: transition(opacity, short, ease-in);
  ///   transition: transition(background-color, slow, emphasized);
  ///   transition: transition(color, lazy, linear, 1s);
  ///   transition: transition(box-shadow, 2s, cubic-bezier(.08,1.04,.82,-0.73));
  ///
  /// @output
  ///   transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  ///   transition: opacity 0.25s cubic-bezier(0.42, 0, 1, 1);
  ///   transition: background-color 0.375s cubic-bezier(0, 0, 0.2, 1);
  ///   transition: color 0.75s cubic-bezier(0, 0, 1, 1) 1s;
  ///   transition: box-shadow 2s cubic-bezier(.08,1.04,.82,-0.73);

  $prepSpeed: $speed;
  $prepTiming: $timing;

  @if map-has-key($transition-speed, $speed) {
    $prepSpeed: map-get($transition-speed, $speed)
  }

  @if map-has-key($transition-speed, $speed) {
    $prepTiming: map-get($transition-timings, $timing)
  }

  $delayCond: if($delay != 0s, $delay, null);

  @return $property $prepSpeed $prepTiming $delayCond
};

@function complex-transition($args...) {
  /// Function that can apply many transition properties to selector
  /// It uses transition() function which returns needed transition properties
  /// from $transition-speed and $transition-timings maps
  ///
  /// @author nightrunner91
  ///
  /// @link https://github.com/nightrunner91/nightvue
  /// @link https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Transitions/
  /// @link https://caniuse.com/?search=transition
  ///
  /// @param $args: { Array }, [list of transition funtions, required]
  ///
  /// @example
  ///   transition: complex-transition(
  ///     transition(opacity, short, ease-in),
  ///     transition(background-color, slow, emphasized),
  ///     transition(color, lazy, linear, 1s),
  ///   );
  ///
  /// @output
  ///   transition: opacity 0.25s cubic-bezier(0.42, 0, 1, 1), background-color 0.375s cubic-bezier(0, 0, 0.2, 1), color 0.75s cubic-bezier(0, 0, 1, 1) 1s;

  @return $args;
};

@function replace-in-list($list, $old-value, $new-value, $recursive: false) {
  /// This function replace value from list with another value
  ///
  /// @author Kitty
  /// 
  /// @link https://kittygiraudel.com/2013/08/08/advanced-sass-list-functions/
  ///
  /// @example
  ///   $list: a, b, r, a, c a, d a, b, r, a;
  ///   $new-list: replace($list, a, u); // u, b, r, u, c a, d a, b, r, u;
  ///   $new-list: replace($list, a, u, true); // u, b, r, u, c u, d u, b, r, u;

  $result: ();

  @for $i from 1 through length($list) {
    @if type-of(nth($list, $i)) == list and $recursive {
      $result: append(
        $result,
        replace(nth($list, $i), $old-value, $new-value, $recursive)
      );
    } @else {
      @if nth($list, $i) == $old-value {
        $result: append($result, $new-value);
      } @else {
        $result: append($result, nth($list, $i));
      }
    }
  }

  @return $result;
}

@function to-string($list, $glue: '', $is-nested: false) {
  /// Function converts SCSS map to String
  ///
  /// @author Kitty
  /// 
  /// @link https://kittygiraudel.com/2013/08/08/advanced-sass-list-functions/
  ///
  /// @example
  ///   $list: a, b, c d e, f, g, h;
  ///   $new-list: to-string($list); // abcdefgh
  ///   $new-list: to-string($list, '-'); // a-b-c-d-e-f-g-h

  $result: null;

  @for $i from 1 through length($list) {
    $e: nth($list, $i);

    @if type-of($e) == list {
      $result: $result#{to-string($e, $glue, true)};
    } @else {
      $result: if(
        $i != length($list) or $is-nested,
        $result#{$e}#{$glue},
        $result#{$e}
      );
    }
  }

  @return $result;
};
